tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
  background-color: black;
}

td {
  padding: 10px;
  border: solid black 1px;
}

table{
    border-collapse: collapse;
}

h2::before{
    content: "Tablero"
}